
@media (min-width: 768px) {


    body {
        margin: 0;
    }

    #div-all {
        display: grid;
        grid-template-columns: [v-inicio] 80px [v-inicio-logo] 200px [v-fim-logo] auto [v-inicio-agenda] 20% [v-final-agenda] 10% [v-final];
        grid-template-rows: [h-topo] 20px [h-inicio-topo] 5vh [h-fim-topo] 30vh [h-fim-logo] 1vh [h-inicio-agenda] 50vh [h-final-agenda] auto [h-final];
    }

    #div-topo {
        height: 5vh;
        background-color: transparent;
        /*grid-row: h-topo h-fim-topo;*/
        grid-row-start: h-inicio-topo;
        grid-row-end: h-fim-topo;
        grid-column-start: v-inicio;
        grid-column-end: v-final;
        display: flex;
        flex-direction :row;
        justify-content: space-around;
    }

    .componente-topo {
        font-size: 1.1rem;
        color: white;
        font-weight: bolder;
    }
    .componente-topo a {
        color: white;
    }

    #div-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url('../img/rock-dt.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .8;
        z-index: -1;
        filter: grayscale(100%);
    }

    #div-logo {
        opacity: 1;
        background-image: url('../img/transparent-full.png');
        background-position: center center;
        background-repeat: no-repeat;
        grid-row-start: h-fim-topo;
        grid-row-end: h-fim-logo;
        grid-column-start: v-inicio-logo;
        grid-column-end: v-fim-logo;
    }

    #box-agenda {
        color: white;
        border: 1px solid white;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(30,30,30,0.7);
        grid-row-start: h-inicio-agenda;
        grid-row-end: h-final-agenda;
        grid-column-start: v-inicio-agenda;
        grid-column-end: v-final-agenda;
    }

    .agenda-linha {
        margin-bottom: 1rem;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .agenda-dia {
        margin-right: 1rem;
        margin-left: 1rem;
        border: 1px solid white;
        font-weight: bolder;
        height: 50px;
        width: 50px;
        text-align: center;
    }

    .agenda-info {
        margin-right: 1rem;
        flex-grow: 1;
        text-align: left;
        font-weight: bold;
        padding-left: 15px;
    }

    #div-apoio {
        grid-row-start: h-inicio-agenda;
        grid-row-end: h-final-agenda;
        /*grid-column-start: v-inicio-logo;
        grid-column-end: v-fim-logo;*/
        grid-column: v-inicio-logo / v-fim-logo;
        /*background-color: darkslategray;*/
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        font-weight: bolder;
    }

    #div-apoio #label-header-apoio {
        font-size: 1.1rem;
        text-decoration: underline;

    }

    .anuncio {
        align-content: center;
    }

    .anuncio img {
        width: 80px;
        height: 80px;
        display: block;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid black;
        border-radius: 100%;
    }


}


